version: '3.8'

services:
  db:
    image: postgres:17-alpine
    container_name: yt_playlist_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - D:/Data/postgres_data:/var/lib/postgresql/data
